@import './variables';
$avatar-size: 32px;

.card {
  cursor: pointer;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: $base-box-color;

  &_title {
    display: flex;
    margin-bottom: 16px;

    h2 {
      margin-right: 15px;
    }
  }

  &_eyecatch {
    height: 150px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height:100%;
      border-radius: 10px;
    }
  }

  &_name {
    font-size: 22px;
    padding: 16px 16px;
  }

  &_detail {
    cursor: pointer;
    display: flex;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
    }
  }

  &_description {
    padding: 0px 16px;
    opacity: 0.4;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
  }

  &_message {
    display: flex;

    p {
      padding: 16px;
    }

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      margin-top: 16px;
    }
  }

  &_add{
    font-size: 18px;
    padding: 70px 0px;
    text-align: center;
    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    display: block;
  }
}
